@import 'helpers';

.flexParent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flexGrow {
  flex: 1;
  display: flex;
  margin-bottom: 2em;
}

.row {
  @include outer-container;
  width: 100%;
}

@include media($max-width-down) {
  .row {
    padding: 0 2%;
  }
}